version: 2.1
jobs:
    build:
        machine:
            image: ubuntu-1604:202004-01
        working_directory: ~/build
        steps:
            - checkout
            - run: 'sudo apt update'
            - run: 'wget https://github.com/gohugoio/hugo/releases/download/v0.78.2/hugo_extended_0.78.2_Linux-64bit.deb'
            - run: 'sudo apt -y install ./hugo_extended_0.78.2_Linux-64bit.deb'
            - run: 'sudo apt -y install snapd'
            - run: 'sudo snap install --classic go'
            - run: 'hugo --ignoreCache=true --minify'
            - persist_to_workspace:
                root: .
                paths:
                    - public
workflows:
  version: 2
  build-and-deploy:
    jobs:
      - build
