{{/* Table Shortcode for Wowchemy. */}}
{{/* Load a CSV table from page dir falling back back to remote URL */}}
{{/* Defaults to expecting a comma-separated CSV with a header row. */}}

{{ $src := .Get "path" }}
{{ $delimiter := .Get "delimiter" | default "," }}
{{ $useHeaderRow := (eq (lower (.Get "header")) "true") | default true }}
{{ $caption := .Get "caption" }}

{{ $opts := dict
  "delimiter" $delimiter
  "format" "csv"
  "targetType" "slice"
}}
{{ $rows := slice }}

{{ if strings.HasPrefix $src "http" }}

  {{ with try (resources.GetRemote $src) }}
    {{ with .Err }}
      {{ errorf "table shortcode: unable to fetch %q: %s" $src . }}
    {{ else with .Value }}
      {{ $rows = transform.Unmarshal $opts .Content }}
    {{ else }}
      {{ errorf "table shortcode: unable to fetch %q" $src }}
    {{ end }}
  {{ end }}
{{ else }}
  {{ $path := path.Join "content" $.Page.File.Dir $src }}
  {{ $rows = transform.Unmarshal $opts (os.ReadFile $path) }}
{{ end }}

<table class="table">
  {{ if $useHeaderRow }}
    {{ $headerRow := index $rows 0 }}
    {{ $rows = after 1 $rows }}
    <tr> {{ range $headerRow }} <th>{{ . | markdownify | emojify }}</th> {{ end }} </tr>
  {{ end }}
  {{ range $rows }}
    <tr>
      {{ range . }}
        {{ if (findRE "^\\d+$" .) }}
          <td data-table-dtype="number">{{ . }}</td>
        {{ else }}
          <td data-table-dtype="text">{{ . | markdownify | emojify }}</td>
        {{ end }}
      {{ end }}
    </tr>
  {{ end }}
  {{ if $caption }}
    <caption>{{ $caption | markdownify | emojify }}</caption>
  {{ end }}
</table>
